doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title impress.js
    link(rel='stylesheet', href='css/impress-demo.css')
    link(rel='shortcut icon', href='favicon.png')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
  body.impress-not-supported
    block content