.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='0')
  img(src='image/img_0900.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='4')
  img(src='image/img_0908.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='8')
  img(src='image/img_0909.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='12')
  img(src='image/img_0911.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='16')
  img(src='image/img_0912.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='20')
  img(src='image/img_0913.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='24')
  img(src='image/img_0914.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='28')
  img(src='image/img_0916.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='32')
  img(src='image/img_0917.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='36')
  img(src='image/img_0918.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='40')
  img(src='image/img_0919.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='44')
  img(src='image/img_0920.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='48')
  img(src='image/img_0921.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='52')
  img(src='image/img_0922.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='56')
  img(src='image/img_0923.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='60')
  img(src='image/img_0924.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='64')
  img(src='image/img_0925.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='68')
  img(src='image/img_0926.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='72')
  img(src='image/img_0927.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='76')
  img(src='image/img_0928.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='80')
  img(src='image/img_0930.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='84')
  img(src='image/img_0931.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='88')
  img(src='image/img_0932.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='92')
  img(src='image/img_0933.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='96')
  img(src='image/img_0936.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='100')
  img(src='image/img_0937.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='104')
  img(src='image/img_0939.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='108')
  img(src='image/img_0940.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='112')
  img(src='image/img_0942.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='116')
  img(src='image/img_0943.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='120')
  img(src='image/img_0944.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='124')
  img(src='image/img_0946.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='128')
  img(src='image/img_0947.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='132')
  img(src='image/img_0948.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='136')
  img(src='image/img_0949.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='140')
  img(src='image/img_0950.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='144')
  img(src='image/img_0952.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='148')
  img(src='image/img_0953.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='152')
  img(src='image/img_0954.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='156')
  img(src='image/img_0955.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='160')
  img(src='image/img_0956.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='164')
  img(src='image/img_0957.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='168')
  img(src='image/img_0958.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='172')
  img(src='image/img_0960.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='176')
  img(src='image/img_0961.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='180')
  img(src='image/img_0963.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='184')
  img(src='image/img_0964.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='188')
  img(src='image/img_0965.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='192')
  img(src='image/img_0966.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='196')
  img(src='image/img_0967.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='200')
  img(src='image/img_0968.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='204')
  img(src='image/img_0969.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='208')
  img(src='image/img_0970.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='212')
  img(src='image/img_0971.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='216')
  img(src='image/img_0972.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='220')
  img(src='image/img_0973.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='224')
  img(src='image/img_0975.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='228')
  img(src='image/img_0976.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='232')
  img(src='image/img_0977.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='236')
  img(src='image/img_0978.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='240')
  img(src='image/img_0979.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='244')
  img(src='image/img_0983.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='248')
  img(src='image/img_0984.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='252')
  img(src='image/img_0985.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='256')
  img(src='image/img_0986.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='260')
  img(src='image/img_0987.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='264')
  img(src='image/img_0988.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='268')
  img(src='image/img_0989.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='272')
  img(src='image/img_0990.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='276')
  img(src='image/img_0991.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='280')
  img(src='image/img_0992.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='284')
  img(src='image/img_0993.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='288')
  img(src='image/img_0994.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='292')
  img(src='image/img_0995.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='296')
  img(src='image/img_0997.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='300')
  img(src='image/img_0998.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='304')
  img(src='image/img_0999.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='308')
  img(src='image/img_1002.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='312')
  img(src='image/img_1006.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='316')
  img(src='image/img_1007.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='320')
  img(src='image/img_1008.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='324')
  img(src='image/img_1009.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='328')
  img(src='image/img_1010.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='332')
  img(src='image/img_1012.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='336')
  img(src='image/img_1013.jpg')
.step(data-x='-2000' data-y='1400' data-z='-10000' data-rotate-x='90' data-rotate-y='340')
  img(src='image/img_1014.jpg')
