.step(data-x='-1000' data-y='2000' data-z='-1000')
  img(src='image/img_0900.jpg')
.step(data-x='-100' data-y='2000' data-z='-1000')
  img(src='image/img_0908.jpg')
.step(data-x='800' data-y='2000' data-z='-1000')
  img(src='image/img_0909.jpg')
.step(data-x='1700' data-y='2000' data-z='-1000')
  img(src='image/img_0911.jpg')
.step(data-x='2600' data-y='2000' data-z='-1000')
  img(src='image/img_0912.jpg')
.step(data-x='3500' data-y='2000' data-z='-1000')
  img(src='image/img_0913.jpg')
.step(data-x='4400' data-y='2000' data-z='-1000')
  img(src='image/img_0914.jpg')
.step(data-x='5300' data-y='2000' data-z='-1000')
  img(src='image/img_0916.jpg')
.step(data-x='6200' data-y='2000' data-z='-1000')
  img(src='image/img_0917.jpg')
.step(data-x='7100' data-y='2000' data-z='-1000')
  img(src='image/img_0918.jpg')
.step(data-x='-1000' data-y='2700' data-z='-1000')
  img(src='image/img_0919.jpg')
.step(data-x='-100' data-y='2700' data-z='-1000')
  img(src='image/img_0920.jpg')
.step(data-x='800' data-y='2700' data-z='-1000')
  img(src='image/img_0921.jpg')
.step(data-x='1700' data-y='2700' data-z='-1000')
  img(src='image/img_0922.jpg')
.step(data-x='2600' data-y='2700' data-z='-1000')
  img(src='image/img_0923.jpg')
.step(data-x='3500' data-y='2700' data-z='-1000')
  img(src='image/img_0924.jpg')
.step(data-x='4400' data-y='2700' data-z='-1000')
  img(src='image/img_0925.jpg')
.step(data-x='5300' data-y='2700' data-z='-1000')
  img(src='image/img_0926.jpg')
.step(data-x='6200' data-y='2700' data-z='-1000')
  img(src='image/img_0927.jpg')
.step(data-x='7100' data-y='2700' data-z='-1000')
  img(src='image/img_0928.jpg')
.step(data-x='-1000' data-y='3400' data-z='-1000')
  img(src='image/img_0930.jpg')
.step(data-x='-100' data-y='3400' data-z='-1000')
  img(src='image/img_0931.jpg')
.step(data-x='800' data-y='3400' data-z='-1000')
  img(src='image/img_0932.jpg')
.step(data-x='1700' data-y='3400' data-z='-1000')
  img(src='image/img_0933.jpg')
.step(data-x='2600' data-y='3400' data-z='-1000')
  img(src='image/img_0936.jpg')
.step(data-x='3500' data-y='3400' data-z='-1000')
  img(src='image/img_0937.jpg')
.step(data-x='4400' data-y='3400' data-z='-1000')
  img(src='image/img_0939.jpg')
.step(data-x='5300' data-y='3400' data-z='-1000')
  img(src='image/img_0940.jpg')
.step(data-x='6200' data-y='3400' data-z='-1000')
  img(src='image/img_0942.jpg')
.step(data-x='7100' data-y='3400' data-z='-1000')
  img(src='image/img_0943.jpg')
.step(data-x='-1000' data-y='4100' data-z='-1000')
  img(src='image/img_0944.jpg')
.step(data-x='-100' data-y='4100' data-z='-1000')
  img(src='image/img_0946.jpg')
.step(data-x='800' data-y='4100' data-z='-1000')
  img(src='image/img_0947.jpg')
.step(data-x='1700' data-y='4100' data-z='-1000')
  img(src='image/img_0948.jpg')
.step(data-x='2600' data-y='4100' data-z='-1000')
  img(src='image/img_0949.jpg')
.step(data-x='3500' data-y='4100' data-z='-1000')
  img(src='image/img_0950.jpg')
.step(data-x='4400' data-y='4100' data-z='-1000')
  img(src='image/img_0952.jpg')
.step(data-x='5300' data-y='4100' data-z='-1000')
  img(src='image/img_0953.jpg')
.step(data-x='6200' data-y='4100' data-z='-1000')
  img(src='image/img_0954.jpg')
.step(data-x='7100' data-y='4100' data-z='-1000')
  img(src='image/img_0955.jpg')
.step(data-x='-1000' data-y='4800' data-z='-1000')
  img(src='image/img_0956.jpg')
.step(data-x='-100' data-y='4800' data-z='-1000')
  img(src='image/img_0957.jpg')
.step(data-x='800' data-y='4800' data-z='-1000')
  img(src='image/img_0958.jpg')
.step(data-x='1700' data-y='4800' data-z='-1000')
  img(src='image/img_0960.jpg')
.step(data-x='2600' data-y='4800' data-z='-1000')
  img(src='image/img_0961.jpg')
.step(data-x='3500' data-y='4800' data-z='-1000')
  img(src='image/img_0963.jpg')
.step(data-x='4400' data-y='4800' data-z='-1000')
  img(src='image/img_0964.jpg')
.step(data-x='5300' data-y='4800' data-z='-1000')
  img(src='image/img_0965.jpg')
.step(data-x='6200' data-y='4800' data-z='-1000')
  img(src='image/img_0966.jpg')
.step(data-x='7100' data-y='4800' data-z='-1000')
  img(src='image/img_0967.jpg')
.step(data-x='-1000' data-y='5500' data-z='-1000')
  img(src='image/img_0968.jpg')
.step(data-x='-100' data-y='5500' data-z='-1000')
  img(src='image/img_0969.jpg')
.step(data-x='800' data-y='5500' data-z='-1000')
  img(src='image/img_0970.jpg')
.step(data-x='1700' data-y='5500' data-z='-1000')
  img(src='image/img_0971.jpg')
.step(data-x='2600' data-y='5500' data-z='-1000')
  img(src='image/img_0972.jpg')
.step(data-x='3500' data-y='5500' data-z='-1000')
  img(src='image/img_0973.jpg')
.step(data-x='4400' data-y='5500' data-z='-1000')
  img(src='image/img_0975.jpg')
.step(data-x='5300' data-y='5500' data-z='-1000')
  img(src='image/img_0976.jpg')
.step(data-x='6200' data-y='5500' data-z='-1000')
  img(src='image/img_0977.jpg')
.step(data-x='7100' data-y='5500' data-z='-1000')
  img(src='image/img_0978.jpg')
.step(data-x='-1000' data-y='6200' data-z='-1000')
  img(src='image/img_0979.jpg')
.step(data-x='-100' data-y='6200' data-z='-1000')
  img(src='image/img_0983.jpg')
.step(data-x='800' data-y='6200' data-z='-1000')
  img(src='image/img_0984.jpg')
.step(data-x='1700' data-y='6200' data-z='-1000')
  img(src='image/img_0985.jpg')
.step(data-x='2600' data-y='6200' data-z='-1000')
  img(src='image/img_0986.jpg')
.step(data-x='3500' data-y='6200' data-z='-1000')
  img(src='image/img_0987.jpg')
.step(data-x='4400' data-y='6200' data-z='-1000')
  img(src='image/img_0988.jpg')
.step(data-x='5300' data-y='6200' data-z='-1000')
  img(src='image/img_0989.jpg')
.step(data-x='6200' data-y='6200' data-z='-1000')
  img(src='image/img_0990.jpg')
.step(data-x='7100' data-y='6200' data-z='-1000')
  img(src='image/img_0991.jpg')
.step(data-x='-1000' data-y='6900' data-z='-1000')
  img(src='image/img_0992.jpg')
.step(data-x='-100' data-y='6900' data-z='-1000')
  img(src='image/img_0993.jpg')
.step(data-x='800' data-y='6900' data-z='-1000')
  img(src='image/img_0994.jpg')
.step(data-x='1700' data-y='6900' data-z='-1000')
  img(src='image/img_0995.jpg')
.step(data-x='2600' data-y='6900' data-z='-1000')
  img(src='image/img_0997.jpg')
.step(data-x='3500' data-y='6900' data-z='-1000')
  img(src='image/img_0998.jpg')
.step(data-x='4400' data-y='6900' data-z='-1000')
  img(src='image/img_0999.jpg')
.step(data-x='5300' data-y='6900' data-z='-1000')
  img(src='image/img_1002.jpg')
.step(data-x='6200' data-y='6900' data-z='-1000')
  img(src='image/img_1006.jpg')
.step(data-x='7100' data-y='6900' data-z='-1000')
  img(src='image/img_1007.jpg')
.step(data-x='-1000' data-y='7600' data-z='-1000')
  img(src='image/img_1008.jpg')
.step(data-x='-100' data-y='7600' data-z='-1000')
  img(src='image/img_1009.jpg')
.step(data-x='800' data-y='7600' data-z='-1000')
  img(src='image/img_1010.jpg')
.step(data-x='1700' data-y='7600' data-z='-1000')
  img(src='image/img_1012.jpg')
.step(data-x='2600' data-y='7600' data-z='-1000')
  img(src='image/img_1013.jpg')
.step(data-x='3500' data-y='7600' data-z='-1000')
  img(src='image/img_1014.jpg')
